body {background-color: #F7F8E0;}
	#mark {position: absolute; top: 120px; left: 50px; opacity: 0.9;}
	#fieldset_text {position: absolute; top: 160px; left: 40%; right: 55px; font-size: 13pt;}
	#location_search1 {position: absolute; top: 401px; right: 720px; }
	#location_search2 {position: absolute; top: 401px; right: 500px;}
	#button_1 {position: absolute; top: 400px; right: 425px;}
	#button_2 {position: absolute; top: 400px; right: 350px;}
	#child_image_1 {position: absolute; bottom: 3px; right: 5px;}
	#child_image_2 {position: absolute; bottom: 3px; right: 5px;}
	#creators {position: absolute; bottom: 4px; right: 25px; color: white; font-size: 11pt;}